{% extends "index.html" %}

{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Brands</h1>
      </div>
      <form method="get">
        <button type="button" value="cartpk" class="btn btn-info btn-md">cartpk</button>
      </form>        
      <br>
    <form method="get">
        <button type="button" value="naheed" class="btn btn-info btn-md">naheed</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="chickenzone" class="btn btn-info btn-md">chickenzone</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="careeb" class="btn btn-info btn-md">careeb</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="meatcart" class="btn btn-info btn-md">meatcart</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="meatone" class="btn btn-info btn-md">meatone</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="zenith" class="btn btn-info btn-md">zenith</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="hummart" class="btn btn-info btn-md">hummart</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="freshzone" class="btn btn-info btn-md">freshzone</button>
    </form>        
    <br>
    <form method="get">
        <button type="button" value="_24sevenpk" class="btn btn-info btn-md">_24sevenpk</button>
    </form>        
    <br>
</main>
    
{% endblock %}